<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cz.mapper.DepartmentMapper">
    <!--
        Cache的基本参数
        eviction:缓存的回收策略，
            LRU（LRU:移除近期最少用的对象）默认
            FIFO: first in first out先进先出
            SOFT:软引用,移除基于垃圾回收状态和软引用的对象
            WEAK:弱引用,更积极的移除基于垃圾回收状态和软引用的对象

        flushInterval:刷新缓存，单位毫秒，默认不自动刷新，可以为正整数，在增删改时，也会刷新

        size:缓存对象的数目，默认是1024次查询的结果。

        readOnly:只读，默认false,最好设置为true
    -->
    <cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>

    <select id="getDepartmentById" parameterType="java.lang.Integer" resultType="com.cz.model.Department">
        select d.dept_id,d.dept_name
        from department d where d.dept_id = #{deptId}
    </select>
    <resultMap id="deptEmpsResultMap" type="com.cz.model.Department">
        <id column="dept_id" property="deptId"/>
        <result column="dept_name" property="deptName"/>
        <collection property="emps" ofType="com.cz.model.Employee"
                    select="com.cz.mapper.EmployeeMapper.getEmpsByDeptIdLazyLoad"
                    column="dept_id"/>
    </resultMap>
    <select id="getDeptById" parameterType="java.lang.Integer" resultMap="deptEmpsResultMap" useCache="false">
        select d.dept_id,d.dept_name
        from department d where d.dept_id = #{deptId}
    </select>
</mapper>