<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cz.mapper.EmployeeMapper">
    <sql id="employeeColumn">
          emp_Id,create_Date,emp_Name,gender,email,salary,job_Title,dept_Id
    </sql>
    <resultMap id="employeeForDepartment" type="com.cz.model.Employee">
        <id column="emp_Id" property="empId"/>
        <result column="emp_Name" property="empName"/>
        <result column="gender" property="gender"/>
        <result column="email" property="email"/>
        <result column="salary" property="salary"/>
        <result column="job_Title" property="jobTitle"/>
        <association column="dept_id" property="dept" javaType="com.cz.model.Department"
                     select="com.cz.mapper.DepartmentMapper.getDepartmentLazy">
            <id column="dept_id" property="deptId"/>
            <result column="dept_name" property="deptName"/>
        </association>
    </resultMap>
    <select id="getEmpPage" resultMap="employeeForDepartment">
        select <include refid="employeeColumn"/> from employee order by salary asc
    </select>

    <select id="getEmpByDepartmentLazy" parameterType="java.lang.Integer" resultType="com.cz.model.Employee">
        select <include refid="employeeColumn"/> from employee where dept_id = #{deptId}
    </select>
    <resultMap id="employeeAndDepartment" type="com.cz.model.Employee">
        <id column="emp_Id" property="empId"/>
        <result column="emp_Name" property="empName"/>
        <result column="gender" property="gender"/>
        <result column="email" property="email"/>
        <result column="salary" property="salary"/>
        <result column="job_Title" property="jobTitle"/>
        <result column="create_Date" property="createDate"/>
        <result column="dept_Id" property="deptId"/>
        <association property="dept" javaType="com.cz.model.Department">
            <id column="dept_Id" property="deptId"/>
            <result column="dept_name" property="deptName"/>
        </association>
    </resultMap>
    <select id="getEmpById" parameterType="java.lang.Integer" resultMap="employeeAndDepartment">
        select e.emp_Id,e.emp_Name,e.gender,e.email,e.salary,e.job_Title,e.dept_Id,d.dept_name,e.create_Date
        from employee e inner join department d on e.dept_id = d.dept_id
        where emp_id = #{empId}
    </select>
    <insert id="addEmp" parameterType="com.cz.model.Employee" >
        insert into employee(emp_name,gender,email,salary,job_Title,dept_Id,create_Date) values (#{empName},#{gender},#{email},#{salary},#{jobTitle},#{deptId},#{createDate})
    </insert>

    <update id="updateEmp" parameterType="com.cz.model.Employee">
        update employee
        set emp_name=#{empName},gender=#{gender},email=#{email},salary=#{salary},job_Title=#{jobTitle},dept_Id=#{deptId},create_Date=#{createDate}
        where emp_id=#{empId}
    </update>
    <delete id="deleteEmp" parameterType="java.lang.Integer">
        delete  from employee where emp_id=#{id}
    </delete>
</mapper>