<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cz2.mapper.UserMapper">
    <!--id:表示一个sql句柄，相当于jdbc里的statement对象
        parameterType:输入参数类型，在sql语句中，通过占位符#{}来接受参数
        resultType:SQL操作的返回结果类型-->
    <select id="getUserById" parameterType="java.lang.Integer" resultType="com.cz2.model.User">
        select id,name,password,age,create_time from user where id = #{id}
    </select>
    <!--查询列表-->
    <select id="getUserList" resultType="com.cz2.model.User">
        select id,name,password,age,create_time from user
    </select>
    <select id="addUser" parameterType="com.cz2.model.User">
        insert into user (name,password,age,create_time) values (#{name},#{password},#{age},#{createTime})
    </select>
    <delete id="delUser" parameterType="java.lang.Integer">
        delete from user where id=#{id}
    </delete>
    <update id="updateUser" parameterType="com.cz2.model.User">
        update user set name = #{name},password = #{password},age=#{age},create_time = #{createTime} where id=  #{id};
    </update>
    <select id="getUserByNameAndPassword" parameterType="com.cz2.model.User" resultType="com.cz2.model.User">
        select id,name,password,age,create_time from user where name=#{name} and password=#{password}
    </select>
</mapper>